disable=SC1090 # Can't follow non-constant source. Use a directive to specify location.
disable=SC2034 # appears unused. Verify use (or export if used externally).
disable=SC2155 # Declare and assign separately to avoid masking return values
disable=SC2154 # is referenced but not assigned
disable=SC2039 # In POSIX sh, something is undefined.
disable=SC3009 # In POSIX sh, brace expansion is undefined.
disable=SC3010 # In POSIX sh, [[ ]] is undefined.
disable=SC3020 # In POSIX sh, &> is undefined.
disable=SC3028 # In POSIX sh, HOSTNAME is undefined.
disable=SC3028 # In POSIX sh, RANDOM is undefined.
disable=SC3037 # In POSIX sh, echo flags are undefined.
disable=SC3043 # In POSIX sh, local is undefined.
disable=SC3044 # In POSIX sh, 'disown' is undefined.
disable=SC3045 # In POSIX sh, ulimit -n is undefined.
disable=SC3054 # In POSIX sh, array references are undefined.
disable=SC3058 # In POSIX sh, string operations on $@/$* are undefined.
